<app-header  [title]="nomeTitle"    ></app-header> 
  <mat-card>
 
   
    <table class="table " >
        <thead >
         <tr class="header">
           <th >id </th>
           <th >nome </th>
        
           <th >Temperatura  <mat-icon>filter_list</mat-icon></th>
         </tr>
        </thead><br>
    <tbody class="body">
     <tr >  

     
      <ng-container>
      <td>{{getAllTempo.id}}</td>
     </ng-container>

     <ng-container>
       <td>{{getAllTempo.nome}}</td>
      </ng-container>

      <ng-container>
       <td>{{getAllTempo.temp}}</td>      
      </ng-container>
      

      
    </tbody>
 </table>
</mat-card>
 
  <h1>

  </h1>
  